vendor/
.env

runtime/*
!runtime/.gitkeep
!runtime/cache/
!runtime/container/
!runtime/logs/

runtime/cache/*
!runtime/cache/.gitkeep

runtime/container/*
!runtime/container/.gitkeep
!runtime/container/proxy/

runtime/container/proxy/*
!runtime/container/proxy/.gitkeep

runtime/logs/*
!runtime/logs/.gitkeep
!runtime/logs/application/
!runtime/logs/php/

runtime/logs/application/*
!runtime/logs/application/.gitkeep

runtime/logs/php/*
!runtime/logs/php/.gitkeep
